{% extends "base.html" %}

{%block title%} Booking Page {%endblock%}

{%block content%} <h1 class="text-center"> Make an Appointment <h1> 
 {% comment %} <br> {% endcomment %}
 <br>
 <h6> 
 <div class = "container w-50 text-center"> </div>
<form action = "" class = "text-center">
        {{form.as_p}}
</form>
</h6>
{%endblock%}



{% comment %} <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Booking Page</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <h1>Booking Page</h1>
	<script src=""></script>
  </body>
</html> {% endcomment %}