{% extends "base.html" %}
{% load crispy_forms_tags %}

{%block title%} Booking Page {%endblock%}

{%block content%} <h1 class="text-center"> Make an Appointment <h1> 
 {% comment %} <br> {% endcomment %}
 <br>
 <h6> 
 <div class = "container w-50 text-center p-2 bg-info"> 
<form action = ""  method = "POST" class = "text-center my-5">
        {% csrf_token %}
        {{form |crispy}}
        <br>
        <button class="btn btn-primary " type = "submit">Submit</button>
      
      
</form>
</h6>
</div>
{%endblock%}



{% comment %} <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Booking Page</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <h1>Booking Page</h1>
	<script src=""></script>
  </body>
</html> {% endcomment %}