{% extends "base.html" %}

{%block title%} Department Page {%endblock%}

{%block content%} 

<h1 class="text-center"> Our Department <h1> 
<hr>
  
<div class = "mx-auto w-50 bg-success text-center text-white p-3 my-3">
  <h1>Department Name</h1>
  <p> Department Description<p>
</div>
{%endblock%}


{% comment %} <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Department Details</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <h1>Department</h1>
	<script src=" "></script>
  </body>
</html> {% endcomment %}