
{% extends "base.html" %}

{%block title%} Doctors {%endblock%}

{%block content%} <h1> Doctors Page<h1> 

<div class="container"> 

{% for d in doctor %}

<h1></h1>
<div class="card" style="width: 18rem;">
  <img class="{{d.doc_image.url}}" src="..." alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{d.doc_name}}</h5>
    <p class="card-text">{{d.doc_spec}}</p>
    <h6>{{d.dep_name}}</h6>
  </div>
</div>

{%endfor%}
</div>
{%endblock%}

{% comment %} <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Doctors</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <h1>Doctors Page</h1>
	<script src=""></script>
  </body>
</html> {% endcomment %}