{% extends "base.html" %}

{%block title%} Home Page {%endblock%}

{%block content%} 




{% load static %}


 

<div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="10000">
      <img src="{% static '/images/car1.jpg' %}" class="d-block w-100" alt="...">
      
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img src="{% static '/images/car2.jpg' %}" class="d-block w-100" alt="...">
      
    </div>
    <div class="carousel-item">
      <img src="{% static '/images/car3.jpg' %}" class="d-block w-100" alt="...">
      
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>


{%endblock%}


{% comment %} 
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Main Page</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <h1>Home Page</h1>

    {% comment %} <h2>My name is {{ name }} </h2>
    <h2>Age is {{ age }} </h2>
    <h2>place is  {{ place }} </h2> {% endcomment %}
{% comment %} 
    {% if num > 0 %}
      <h2>Positive Number </h2>
    {%elif num < 0%}
      <h3>Negative Number</h3>
    {% else %}
      <h3>Number is Zero</h3>
    {%endif%}

    {%for i in fruitsar%}
        <h2>{{i}}</h2>
    {% endfor %}



	<script src="index.js"></script>
  </body>
</html> {% endcomment %} 

