{% extends "base.html" %}

{%block title%} Home Page {%endblock%}

{%block content%} <h1> Home Page content <h1> {%endblock%}


{% comment %} 
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Main Page</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <h1>Home Page</h1>

    {% comment %} <h2>My name is {{ name }} </h2>
    <h2>Age is {{ age }} </h2>
    <h2>place is  {{ place }} </h2> {% endcomment %}
{% comment %} 
    {% if num > 0 %}
      <h2>Positive Number </h2>
    {%elif num < 0%}
      <h3>Negative Number</h3>
    {% else %}
      <h3>Number is Zero</h3>
    {%endif%}

    {%for i in fruitsar%}
        <h2>{{i}}</h2>
    {% endfor %}



	<script src="index.js"></script>
  </body>
</html> {% endcomment %} 

